.blog.menu_id_129 .category-desc {
    padding-top: 0px;
}

.blog.menu_id_129 .category-desc .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 0px;
}

.blog.menu_id_129 .category-desc .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    margin-bottom: 30px;
}

.blog .category-desc .category-button {
    color: #fff;
    background: #56C182;
    border: 1px solid #56C182;
    transition: all 0.3s linear;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 100px;
    text-align: center;
    width: 216px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.blog .category-desc .category-button:hover {
    border: 1px solid #D9DEE3;
    color: #56C182;
    background: transparent;
    transition: all 0.3s linear;
}

.blog .category-desc .section.banner2 {
    margin-top: 50px;
}

.blog .category-desc .section.banner2 .container {
    padding: 0px;
}

.blog .category-desc .section.banner2 .container .row div .banner-wrapper img {
    text-align: center;
    width: 130px;
    height: 130px;
    margin: 15px auto;
}

.blog .category-desc .section.banner2 .container .row div .banner-wrapper .banner-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #002D4F;
    margin-bottom: 15px;
}

.blog .category-desc .section.banner2 .container .row div .banner-wrapper .banner-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 0;
    /*padding: 0 15px;*/
}

.blog .category-desc .section.banner2.turist {
    position: relative;
}

.blog .category-desc .section.banner2.turist img.img-absolute {
    position: absolute;
    right: -150px;
    bottom: -20px;
    max-height: 555px;
}

.blog .category-desc .section.banner2.turist .banner-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    padding-left: 160px;
    padding-top: 60px;
}

.blog .category-desc .section.banner2.turist .container .row {
    padding: 0;
    margin: 0;
}

.blog .category-desc .section.banner2.turist .container .row div .banner-wrapper {
    padding: 30px;
    margin-bottom: 30px;
}

.blog .category-desc .section.banner2.turist .container .row div .banner-wrapper .banner-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #002D4F;
    margin-bottom: 15px;
}

.blog .category-desc .section.banner2.turist .container .row div .banner-wrapper .banner-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.blog .category-desc .section.banner2.turist .container .row div .banner-wrapper.block3 {
    padding: 0;
    margin-bottom: 0;
    background: none;
}

.blog .category-desc .section.banner2.turist .container .row div .banner-wrapper .banner-text.block3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606970;
}

.blog.menu_id_128 .category-desc,
.blog.menu_id_127 .category-desc {
    padding-top: 0px;
}

.blog.menu_id_128 .category-desc .title,
.blog.menu_id_127 .category-desc .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 0px;
}

.blog.menu_id_128 .category-desc .subtitle,
.blog.menu_id_127 .category-desc .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    margin-bottom: 30px;
}

.blog .category-desc .section.banner2 .banner-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    padding-left: 160px;
    padding-top: 60px;
}

.blog .category-desc .section.banner2.bg-home {
    background-image: url(/images/strahovca-nedvig/bg-home.svg);
    background-position: right;
    background-repeat: no-repeat;
}

.casko-1 {
    background-image: url(/images/kasko/avto.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 90px;
    background-size: contain;
}

#casko-2 {
    margin-top: -80px;
}

#casko-3 img.img-absolute {
    position: absolute;
    right: -55px;
    bottom: -60px;
    max-height: 183px;
}

#casko-4 .row {
    position: relative;
    padding: 40px 0;
}

#casko-4 .bg-gree {
    width: 100vw;
    position: absolute;
    left: 50%;
    background: #f6f9f9;
    top: 0;
    right: 50%;
    z-index: -1;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
}

#casko-4 .bg-gree2 {
    width: 100vw;
    position: absolute;
    right: 51%;
    background: #f6f9f9;
    top: 0;
    z-index: -1;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
}

#casko-4 .banner-wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 0px;
}

#casko-4 .bg-write {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(99, 102, 129, 0.06);
    border-radius: 12px;
}

#casko-4 .banner-text {
    color: #606970;
    font-size: 16px;
    line-height: 24px;
}

#casko-4 a.category-button.block3 {
    margin: 50px auto 14px;
    width: auto;
}

.full-item-block.block1 {
    padding-bottom: 80px;
    padding-top: 60px;
}

.full-item-block .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 0px;
}

.full-item-block .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    margin-bottom: 30px;
}

.full-item-block .category-button {
    color: #fff;
    background: #56C182;
    border: 1px solid #56C182;
    transition: all 0.3s linear;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 100px;
    text-align: center;
    width: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.full-item-block .container {
    padding: 0px;
}

.full-item-block .banner-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    padding-left: 160px;
    padding-top: 60px;
    margin-bottom: 24px;
}

.full-item-block .banner-wrapper {
    display: flex;
    flex-direction: column;
    background: #f6f9f9;
    border-radius: 12px;
    padding: 20px;
}

.full-item-block .banner-wrapper img {
    text-align: center;
    width: 130px;
    height: 130px;
    margin: 0 auto 15px;
}

.full-item-block .banner-wrapper .banner-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #002D4F;
    margin-bottom: 15px;
}

.full-item-block .banner-wrapper .banner-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.full-item-block .bg-gree {
    width: 100vw;
    position: absolute;
    left: 50%;
    background: #f6f9f9;
    top: 0;
    right: 50%;
    z-index: -1;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-item-block .bg-gree2 {
    width: 100vw;
    position: absolute;
    right: 51%;
    background: #f6f9f9;
    top: 0;
    z-index: -1;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-item-block.block3 > div > .row {
    position: relative;
    padding: 40px 0;
}

.full-item-block.block3 .bg-write {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgb(99 102 129 / 6%);
    border-radius: 12px;
    padding: 0;
    margin: 0;
}

.full-item-block.block3 .banner-wrapper {
    background: #fff;
}

.full-item-block .full-img {
    height: 70%;
    width: auto;
    float: right;
}

.full-item-block .num-block {
    margin: 15px 0;
}

.full-item-block .num-block_numb {
    font-size: 50px;
    font-weight: 600;
    line-height: 63px;
    vertical-align: top;
    display: inline-block;
    width: 30px;
    margin: 0 15px;
}

.full-item-block p.num-block_text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #606970;
    margin-bottom: 0;
    display: inline-block;
    padding-top: 20px;
}

.full-item-block.block3 .category-button {
    margin: 30px;
}

.full-item-block .full-bg-img {
    background-image: url(/images/reg-ip/Group_1360.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 90px;
    background-size: contain;
}

.full-item-block .full-bg-img_gerb {
    background-image: url(/images/samozanyatykh/gerb.svg);
}

.ac-container {
    margin: 0;
    gerb padding: 0;
    text-align: left;
    border-radius: 12px;
    background: #f6f9f9;
    border: 0px solid #000;
    padding-top: 30px;
}

.ac-container label {
    /* font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; */
    padding: 5px 70px;
    position: relative;
    z-index: 20;
    display: block;
    height: 60px;
    cursor: pointer;
    color: #002D4F;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); */
    line-height: 33px;
    font-size: 19px;
    background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea)); */
    /* background: -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%); */
    background: -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    /* box-shadow:
        0px 0px 0px 1px rgba(155, 155, 155, 0.3),
        1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset,
        0px 2px 2px rgba(0, 0, 0, 0.1); */
}

.ac-container label:hover {
    background: #F6F9F9;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
    /*color: #3d7489;*/
    /* text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); */
    /* box-shadow:
        0px 0px 0px 1px rgba(155, 155, 155, 0.3),
        0px 2px 2px rgba(0, 0, 0, 0.1); */
}

.ac-container label:after,
.ac-container input:checked + label:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(/images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:after {
    background-image: url(/images/arrow_up.png);
}

.ac-container input {
    display: none;
}

.ac-container article {
    background: #F6F9F9;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606970;
    padding: 20px 70px;
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    /* box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3); */
}

.ac-container input:checked ~ article.ac-small {
    height: auto;
    box-shadow: 0px 46px 45px -26px rgba(99, 102, 129, 0.15);
    margin-bottom: 40px;
}

.ac-container input:checked ~ article.ac-medium {
    height: auto;
    box-shadow: 0px 46px 45px -26px rgb(99 102 129 / 15%);
}

.ac-container input:checked ~ article.ac-large {
    height: auto;
    box-shadow: 0px 46px 45px -26px rgb(99 102 129 / 15%);
}

.full-item-block_big_subtitle {
    color: #56C182;
    font-size: 64px;
}

.full-item-block_blok-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #002D4F;
    display: inline-block;
    margin-top: 20px;
}

.full-item-block img.full-item-block_img_pos-ab-top-r {
    width: 80px;
    height: 80px;
    right: -25px;
    position: absolute;
    top: -25px;
}

.full-item-block_text-icon-before {}

.full-item-block_text-icon-before::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #68D293;
    position: absolute;
    left: 0px;
    top: 6px;
}

.full-item-block_text-icon-before2::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #F55549;
    position: absolute;
    left: 0px;
    top: 6px;
}

.full-item-block_bottom-left {
    float: left;
    width: fit-content !important;
    margin: 1rem 1.5rem 0;
}

.block-accordion .accordion-button:not(.collapsed) {
    color: #002D4F;
    background: none;
    box-shadow: none;
}

.block-accordion .accordion-button:not(.collapsed)::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04IDEuNDMwNTFlLTA2TDAgOEwxNiA4TDggMS40MzA1MWUtMDZaIiBmaWxsPSIjNTZDMTgyIi8+Cjwvc3ZnPgo=);
    transform: rotate(0deg);
}

.block-accordion .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04IDEuNDMwNTFlLTA2TDAgOEwxNiA4TDggMS40MzA1MWUtMDZaIiBmaWxsPSIjNTZDMTgyIi8+Cjwvc3ZnPgo=);
    transform: rotate(-180deg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.block-accordion .accordion-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #002D4F;
    background: none;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.block-accordion .accordion-body,
.block-accordion .accordion-body p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606970;
}

.block-accordion .accordion-body {
    padding: 20px 100px;
}

.block-bg-gree {
    border-radius: 12px;
    background: #f6f9f9;
    padding: 57px 0 60px 0;
}

.block-bg-gree .accordion-item {
    background: none;
}

.block-accordion .show {
    box-shadow: 0px 46px 45px -26px rgb(99 102 129 / 15%);
}

.full-item-block_bg-img {
    background-image: url(/images/credit-calc/g124.svg);
    background-position: top 80px right;
    background-repeat: no-repeat;
    background-size: auto;
}

.full-item-block_full-wight {
    display: flex;
    min-width: 99.96vw;
    background: #F6F9F9;
    flex-direction: column;
    margin-left: calc((100vw - 1169px)/-2) !important;
    align-items: center;
    position: relative;
}

.bg-write {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgb(99 102 129 / 6%);
    border-radius: 12px;
    padding: 0 25px;
    margin: 20px;
}

.form-credit-calc {
    color: #606970;
}

.form-credit-calc .border-right {
    border-right: 3px solid #f6f9f9;
}

.form-credit-calc .progress {
    background-color: #fed64a;
}

.form-credit-calc .progress .progress-bar {
    background: #56c182;
}

.form-credit-calc #select-valute {
    max-width: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.form-credit-calc #srock-credit {
    width: auto;
    max-width: 80px;
}

.form-credit-calc #stavka-procent {
    width: auto;
    max-width: 80px;
}

div.modal {
    z-index: 10050;
    background: #00000091;
}

#exampleModalGrafic table td {
    width: 20%;
}

a.home-menu-ipoteka {
    color: #56C182;
}