.blog.menu_id_129 .category-desc {
    padding-top: 0px;
}

/* Оформить страховку выгодно за 2 минуты */

.blog.menu_id_129 .category-desc .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
}
