.blog.menu_id_129 .category-desc {
    padding-top: 0px;
}

.blog.menu_id_129 .category-desc .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 0px;
}

.blog.menu_id_129 .category-desc .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    color: #002D4F;
    margin-bottom: 30px;
}


.blog .category-desc .category-button {
    color: #fff;
    background: #56C182;
    border: 1px solid #56C182;
    transition: all 0.3s linear;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 100px;
    text-align: center;
    width: 216px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.blog .category-desc .category-button:hover {
    border: 1px solid #D9DEE3;
    color: #56C182;
    background: transparent;
    transition: all 0.3s linear;
}

.blog .category-desc .section.banner2 {
    margin-top: 50px;
}

.blog .category-desc .section.banner2 .container {
    padding: 10px;
}

.blog .category-desc .section.banner2 .container .row div .banner-wrapper img {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
